<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-2 col-md-3'></div>
        <div class ='col-xs-9 col-md-9'>
            <span id='welcome'></span>
            <!-- <h1 id='welcome'>&lt;Hello-World!/&gt;</h1> -->

            <!-- <span id='hi'></span> -->
        </div>
    </div>
</div>




<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-4 col-md-4'></div>
          <div class='col-xs-6 col-md-7'>
            <div class ='contact-logos'>
                <a href = 'http://www.github.com/GermanGrandson' class='chick' target='_blank'>
              <i class="fa fa-github-alt"></i></a>
              <a href = 'http://www.twitter.com/GermanGrandson' class='chick' target='_blank'>
              <i class="fa fa-twitter"></i></a>
            <a href = 'https://www.linkedin.com/in/germananieto' class='chick' target='_blank'>
              <i class="fa fa-linkedin-square"></i></a>
            <a href = 'mailto:ganieto1@gmail.com' class='chick' target='_blank'>
              <i class="fa fa-envelope-o"></i></a>
            </div>
                <div class='col-xs-2 col-md-1'>
                </div>
        </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
          <div class='col-xs-5 col-md-4'>
            <div class='circular'>
            <%= image_tag("goodlookin.jpg", :alt =>"Me", id: "me")%>
              </div></div>
            <div class='col-xs-4 col-md-4'>
      </div>
  </div>
</div>

<br>

<div class='container-fluid'>
  <div class='row'>
    <div class ='logos'>
          <div class='col-xs-4 col-md-4'></div>
            <div class='col-xs-6 col-md-7'>
            <%= image_tag("rails.png", :alt =>"Rails", style:"width:70px;height:60px", id: "Rails")%>
            <%= image_tag("html5.png", :alt =>"HTML",style:"width:70px;height:60px", id: "HTML")%>
            <%= image_tag("css3.png", :alt =>"CSS", style:"width:70px;height:60px", id: "CSS")%>
            <%= image_tag("javascript-logo.png", :alt =>"Javascript", style:"width:70px;height:60px", id: "Javascript")%>
            </div>
              <div class='col-xs-2 col-md-1'></div>
    </div>
  </div>
</div>
<!--
<div class='row text-center'>
  <div class='col-md-12'>
    <h1 id='border'>About Me</h1>
  </div></div> -->
<br>
<div class='container-fluid'>
    <div class='about-me'>
      <div class='row'>
        <div class='col-xs-2 col-md-2'></div>
            <div class='col-xs-9 col-md-8'>
                <div id=paragraph>
                <p id='thestory'>


                  My name is German Antonio Nieto and I'm a Full Stack Software
                  Developer. I'm a graduate of Wyncode Academy and I'm currently looking
                  for opportunities in the NYC area. I may not know the answer to everything,
                  but I am not afraid to admit it and will then look for
                  the solution. I have a passion for everything Software Development and
                  I'm extremely hungry to keep learning! Feel free to explore my
                  projects and reach out!

                  </p>
                </div>
            </div>
              <div class='col-xs-1 col-md-1'>
              </div>
            </div>
    </div>
</div>


<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
        <div class='col-xs-9 col-md-8'>
          <div class='if'>
          <h1 id='border'>IF YOU BUILD IT, THEY WILL COME...</h1>
        </div>
        </div>
            <div class='col-xs-0 col-md-1'>
            </div>
    </div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='games'>
      <div class='col-xs-2 col-md-2'></div>
        <div class="col-xs-3 col-md-3">
          <a href = 'http://www.trndi.co' class='webapp' target='_blank'>
          <ia class='fa fa-glass'></ia>
          <h1 id='border'>TRNDI</h1></a>
        </div>
        <div class='col-xs-3 col-md-3'>
          <a href = 'http://wynworld.herokuapp.com' class='webapp' target='blank'>
            <i class="fa fa-globe"></i>
            <h2 id='border'>WynWorld</h2></a>
        </div>
            <div class='col-xs-3 col-md-3'>
              <a href = 'http://tindcat.co' class='webapp' target='_blank'>
                <i class="fa fa-paw"></i>
              <h2 id='border'>TindCat</h2></a>
          </div>
      </div>
  </div>
</div>

<div class='container-fluid'>
    <div class='row'>
      <div class='games'>
      <div class='col-xs-2 col-md-2'></div>
      <div class='col-xs-3 col-md-3'>
      <a href = 'http://github.com/germangrandson/tictothetoe'  class='webapp' target='_blank'>
      <i class="fa fa-slack"></i>
      <h2 id='border'>Tic 2 The Toe</h2></a>
      </div>

      <div class='col-xs-3 col-md-3'>
        <a href = 'https://github.com/GermanGrandson/Voter-Sim' class='webapp' target='_blank'>
        <i class="fa fa-flag-o"></i>
        <h2 id='border'>Voter Sim</h2></a>
      </div>

        <div class='col-xs-3 col-md-3'>
          <a href = 'http://straingth.herokuapp.com' class='webapp' target='_blank'>
          <i class="fa fa-heartbeat"></i>
          <h2 id='border'>STRAINgth</h2></a>
        </div>
      </div>
    </div>
</div>


<div class='row text-center'>
  <div class='contact-me'>
      <div class='col-xs-12 col-md-12'>
        <h1 id='border'>Contact Me: (954) 494-8065</h1>
      </div>
  </div>
</div>





<script src="jquery.js"></script>
<script src="typed.js"></script>
<script>
  $(function typed(){
    // var i = 0;
    // while (i<30){
      $("#welcome").typed({
          strings: ["&lt;Hello World!/&gt ^3000" , "My Name is German ^3000", "&lt;Hello World!/&gt; ^3000" , "My Name is German ^3000","&lt;Hello World!/&gt; ^3000" , "My Name is German ^3000","&lt;Hello World!/&gt; ^3000" , "My Name is German ^3000","&lt;Hello World!/&gt; ^3000" , "My Name is German ^3000", ],
          typespeed: 0
        });
        // i++;
        // console.log(i);
    // };
  });

</script>
