<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-2 col-md-3'></div>
        <div class ='col-xs-9 col-md-9'>
            <span id='welcome'></span><br>
        </div>
    </div>
</div>


<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-4 col-md-4'></div>
          <div class='col-xs-6 col-md-7'>
            <div class ='contact-logos'>
                <a href = 'http://www.github.com/GermanGrandson' class='chick' target='_blank'>
              <i class="fa fa-github-alt hvr-buzz"></i></a>
              <a href = 'http://www.twitter.com/GermanGrandson' class='chick' target='_blank'>
              <i class="fa fa-twitter hvr-skew-backward"></i></a>
            <a href = 'https://www.linkedin.com/in/germananieto' class='chick' target='_blank'>
              <i class="fa fa-linkedin-square hvr-skew-forward"></i></a>
            <a href = 'mailto:ganieto1@gmail.com' class='chick' target='_blank'>
              <i class="fa fa-envelope-o hvr-buzz"></i></a>
            </div>
                <div class='col-xs-2 col-md-1'>
                </div>
        </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
          <div class='col-xs-5 col-md-4'>
            <div class='circular'>
            <%= image_tag("goodlookin.jpg", :alt =>"Me", id: "me")%>
              </div></div>
            <div class='col-xs-4 col-md-4'>
      </div>
  </div>
</div>

<br>

<div class='container-fluid'>
  <div class='row'>
    <div class ='logos'>
          <div class='col-xs-4 col-md-4'></div>
            <div class='col-xs-6 col-md-7'>
            <%= image_tag("rails.png", :alt =>"Rails", style:"width:70px;height:60px", id: "Rails")%>
            <%= image_tag("html5.png", :alt =>"HTML",style:"width:70px;height:60px", id: "HTML")%>
            <%= image_tag("css3.png", :alt =>"CSS", style:"width:70px;height:60px", id: "CSS")%>
            <%= image_tag("javascript-logo.png", :alt =>"Javascript", style:"width:70px;height:60px", id: "Javascript")%>
            </div>
              <div class='col-xs-2 col-md-1'></div>
    </div>
  </div>
</div>
<!--
<div class='row text-center'>
  <div class='col-md-12'>
    <h1 id='border'>About Me</h1>
  </div></div> -->
<br>
<div class='container-fluid'>
    <div class='about-me'>
      <div class='row'>
        <div class='col-xs-2 col-md-2'></div>
            <div class='col-xs-9 col-md-8'>
                <div id=paragraph>
                <p id='thestory'>


                  My name is German Antonio Nieto and I'm a Full Stack Software
                  Developer. I'm a graduate of Wyncode Academy and I'm currently looking
                  for opportunities in the NYC area. I may not know the answer to everything,
                  but I am not afraid to admit it and will then look for
                  the solution. I have a passion for everything Software Development and
                  I'm extremely hungry to keep learning! Feel free to explore my
                  projects and reach out!

                  </p>
                </div>
            </div>
              <div class='col-xs-1 col-md-2'>
              </div>
            </div>
    </div>
</div>


<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
        <div class='col-xs-9 col-md-8'>
          <div class='if'>
          <h1 id='border'>IF YOU CODE IT, THEY WILL COME.</h1>
        </div>
        </div>
            <div class='col-xs-0 col-md-1'>
            </div>
    </div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='games'>
      <div class='col-xs-2 col-md-2'></div>
        <div class="col-xs-2 col-md-2">
          <a href = 'http://www.trndi.co' class='webapp' target='_blank'>
          <ia class='fa fa-glass hvr-wobble-bottom'></ia>
          <h1 id='border'>TRNDI</h1></a>
        </div>
        <div class='col-xs-2 col-md-2'>
          <a href = 'http://wynworld.herokuapp.com' class='webapp1' target='blank'>
            <i class="fa fa-globe hvr-buzz-out"></i>
            <h2 id='border'>WynWorld</h2></a>
        </div>
            <div class='col-xs-2 col-md-2'>
              <a href = 'http://tindcat.co' class='webapp2' target='_blank'>
                <i class="fa fa-paw hvr-bounce-out"></i>
              <h2 id='border'>TindCat</h2></a>
          </div>
          <div class='col-xs-2 col-md-2'>
            <a href = 'http://pedroskitchen.herokuapp.com' class='webapp3' target='_blank'>
              <i class="fa fa-cutlery hvr-wobble-top" aria-hidden="true"></i>
            <h2 id='border'>Pedro's Kitchen</h2></a>
        </div>
      </div>
  </div>
</div>

<div class='container-fluid'>
    <div class='row'>
      <div class='games'>
      <div class='col-xs-2 col-md-2'></div>
      <div class='col-xs-2 col-md-2'>
      <a href = 'http://github.com/germangrandson/tictothetoe'  class='webapp4' target='_blank'>
      <i class="fa fa-slack hvr-wobble-to-bottom-right"></i>
      <h2 id='border'>Tic 2 Toe</h2></a>
      </div>

      <div class='col-xs-2 col-md-2'>
        <a href = 'https://github.com/GermanGrandson/Voter-Sim' class='webapp5' target='_blank'>
        <i class="fa fa-flag-o hvr-bounce-in"></i>
        <h2 id='border'>Voter Sim</h2></a>
      </div>

        <div class='col-xs-2 col-md-2'>
          <a href = 'http://straingth.herokuapp.com' class='webapp6' target='_blank'>
          <i class="fa fa-heartbeat hvr-float"></i>
          <h2 id='border'>STRAINgth</h2></a>
        </div>

        <div class='col-xs-2 col-md-2'>
          <a href = 'http://verbalvisualgerman.herokuapp.com' class='webapp7' target='_blank'>
          <i class="fa fa-shopping-cart hvr-wobble-to-top-right"></i>
          <h2 id='border'>ABC Create</h2></a>
        </div>

      </div>
    </div>
</div>


<div class='row text-center'>
  <div class='contact-me'>
      <div class='col-xs-12 col-md-12'>
        <h1 id='border'>Contact Me: (954) 494-8065</h1>
      </div>
  </div>
</div>


<script>
  $(function typed(){
    setTimeout(function(){
      $("#welcome").typed({
          strings: ["&lt;Hello World!/&gt; ^3000", "My Name is German ^3000", "Welcome To My Site ^3000", "&lt;Hello World!/&gt; ^3000", "My Name is German ^3000", "Welcome To My Site ^3000", "&lt;Hello World!/&gt; ^3000", "My Name is German ^3000", "Welcome To My Site ^3000", "&lt;Hello World!/&gt; ^3000", "My Name is German ^3000", "Welcome To My Site ^3000"  ],
          typespeed: 0
        });
    },2000);
  });
</script>

<script>
$(document).ready(function() {

  $(window).scroll(function () {
    // var a = 3;
      console.log($(window).scrollTop())
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        $('.img').css("opacity", "1")
      }
    if ($(window).scrollTop() > 550) {
          $('.webapp').addClass('webapp-fixed')
          $(function(){
            setTimeout(function(){
              $('.webapp1').addClass('webapp-fixed')
            },300);
        });

          $(function(){
            setTimeout(function(){
              $('.webapp2').addClass('webapp-fixed')
            },600);
        });

          $(function(){
            setTimeout(function(){
              $('.webapp3').addClass('webapp-fixed')
            },900);
        });

            $(function(){
              setTimeout(function(){
                $('.webapp4').addClass('webapp-fixed')
              },1200);
          });

            $(function(){
              setTimeout(function(){
                $('.webapp5').addClass('webapp-fixed')
              },1500);
          });

            $(function(){
              setTimeout(function(){
                $('.webapp6').addClass('webapp-fixed')
              },1800);
          });

            $(function(){
              setTimeout(function(){
                $('.webapp7').addClass('webapp-fixed')
              },2100);
          });
    }
    if ($(window).scrollTop() < 350) {
      $('.webapp').removeClass('webapp-fixed')
      $('.webapp1').removeClass('webapp-fixed')
      $('.webapp2').removeClass('webapp-fixed')
      $('.webapp3').removeClass('webapp-fixed')
      $('.webapp4').removeClass('webapp-fixed')
      $('.webapp5').removeClass('webapp-fixed')
      $('.webapp6').removeClass('webapp-fixed')
      $('.webapp7').removeClass('webapp-fixed')
    }
  });
});
</script>
